/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');


/* PAGE SETTINGS */

*{
    margin: 0;
}

body{
    background-color: #EAECFF;
}

.menu-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-wrap{
    background-color: #8A92DD;
}

.main-section{
    padding: 10px;
    background-color: #EAECFF;
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.window{
    background-color: #E1E0FF;
    padding: 10px;
    margin: 10px;
}

.inner-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-work-section{
    display: inline-block;
}

/* MAIN-MENU */
.main-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-left: solid white 1px;
    border-right: solid white 1px;

    background-color: #8A92DD;
    font-family: 'Montserrat', sans-serif;
}

.main-menu a{
    text-decoration: none;
    padding: 10px;

    border-left: solid white 1px;
    border-right: solid white 1px;
}

.main-menu a:hover{
    background-color: #5552D1;
    transition-duration: 0.5s;
}

.main-menu span{
    color: white;
}

/* SIDE FORM */
.side-inner{
    height: 100%;
}

.side-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.side-form-inputs{
    display: flex;
    flex-direction: column;
}

.side-form-inputs input{
    margin-bottom: 10px;
}

.side-form-submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
